.desctop-header {
  position: fixed;
  top: 0;

  background-color: #262626;

  z-index: 6;
}

.image-button {
  transition: .5s;
  
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  } 
}

@media screen and (max-width: 1024px) {
  .desctop-header {
    position: static;
  }
}