.button-menu {
  object-fit: contain;
  object-position: center;
  height: 24px;
  width: 24px;

  &:hover {
    opacity: 0.7;
  }
}

.dropdown {
  &-menu {
    background-color: #1d1c1c;
  }

  &-item {
    color: #DDCFBB;

    & .disabled {
      color: #919191;
    }
    
    &:hover {
      background-color: #353232;
      color: #DDCFBB;
    }
  }
}