@use "../../shared/constants/constants.scss";

.spells-page {
  padding-top: 59px;
  width: calc(100% - constants.$min-card-width - 40px);
}

@media screen and (max-width: 1340px) {
  .spells-page {
    width: 100%;
  }
}