#root {
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  flex-grow: 1;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0;
  background-color: #262626;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 50px #DDCFBB;
  -webkit-text-fill-color: #000;
}

h1,h2,h3,h4,h5,h6,p,label {
  color: #DDCFBB;
  margin: 0;
}

.auth {
  max-width: 500px;
  margin-top: calc(50vh - 164px);
}

.nav-link,
.nav-link:visited {
  color: #DDCFBB;
}

@media screen and (min-width: 720px) {
  body {
    padding: 0 5vw 0;
  }
}